*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;

}
body{
    background-color: #bababa;
}
.baner{
    background-color: #8d8d8e;
    text-align: center;
    color: rgb(0, 0, 0);
    height: 70px;
    float: left;
    width: 70%;
    line-height:60px
}
.baner2{
    background-color: #8d8d8e;
    
    color: rgb(0, 0, 0);
    text-align: center;
    height: 70px;
    float: left;
    width: 30%;
}
.srodkowy{
    border-radius: 50px;
    background-color: #3e3e3e;
    text-align: center;
    width: 75%;
    float: left;
    height: 100vh;
    color: white;
    
}
.prawy{
    width: 25%;
    float: left;
    text-align: center;
}


.stopka{
    background-color: #8d8d8e;
    color: rgb(0, 0, 0);
    height: 60px;
    clear: both;
    text-align: right;
}

table, td, th{
    border: solid 2px #34ae9c;
    background-color: #b8bcbb;
    border-collapse: collapse;
    color: white;
}

table{
    margin: auto;
    width: 80%;
}

td,th{
    padding: 4px;
}

td:hover, th:hover{
    background-color: #2f777f;
}

input{
    border-radius: 10px;
    border: 1px solid white;
    width: 100px;
    height: 25px;
    box-shadow:  10px  5px  5px #2f777f;
}

input:hover{
    background-color: #2f777f;
    color: white;
    box-shadow:  10px  5px  5px #34ae9c;
}

.prawy{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    
    
}